
.camera-action {
  border: thin dashed rgb(227,227,227);
  height: 200px;
  text-align: center;
}

.camera-icon {
  font-size: 3rem;
  margin-top: 20%;
}

.image-snap {
  margin-top: 3%;
  width: 100%;
}
